In [2]:
import pandas as pd
import numpy as np
import statistics as st

In [5]:
dict_data = {
    'Field 1':[88, 90, 80 , 70],
    'Field 2': [30, 45, 50, np.nan],
    'Field 3':[np.nan, 40, 80, np.nan]
}
df_dict_data = pd.DataFrame(dict_data)
df_dict_data

   Field 1  Field 2  Field 3
0       88     30.0      NaN
1       90     45.0     40.0
2       80     50.0     80.0
3       70      NaN      NaN

In [6]:
df_dict_data.isnull()

   Field 1  Field 2  Field 3
0    False    False     True
1    False    False    False
2    False    False    False
3    False     True     True

In [7]:
df_dict_data.dropna()

   Field 1  Field 2  Field 3
1       90     45.0     40.0
2       80     50.0     80.0

In [11]:
bool_series = pd.isnull(df_dict_data["Field 1"]) 
#bool_series
df_dict_data[bool_series]

Empty DataFrame
Columns: [Field 1, Field 2, Field 3]
Index: []

In [12]:
data = pd.read_csv("https://raw.githubusercontent.com/YBI-Foundation/Dataset/main/Diabetes%20Missing%20Data.csv")

In [13]:
data.shape

(768, 9)

In [14]:
data.isnull().sum()

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [15]:
data.isnull().sum().sum()

652

In [19]:
data.drop(['Pregnant'], axis=1)

,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
0,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,137.0,40.0,35.0,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...
763,101.0,76.0,48.0,180.0,32.9,0.171,63,0
764,122.0,70.0,27.0,NaN,36.8,0.340,27,0
765,121.0,72.0,23.0,112.0,26.2,0.245,30,0
766,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,93.0,70.0,31.0,NaN,30.4,0.315,23,0